*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	user-select: none;
}
html{
	max-width:100vw;
	min-height:100vh;
}
body{
	background-color:#eee;
	width:100vw;
	max-height:100vh;
	font-family:'Spartan';
	font-size:1rem;
}
nav{
	background-color: #eee;
	width:100vw;
	height:10vh;
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	top:0;
	left:0;
}
nav::after{
	content:'';
	position:absolute;
	width:50%;
	height: 100%;
	top:0;
	left:0;
}
.menu{
	width:50%;
	height:100%;
	position:relative;
	z-index:1;
}
.logo{
	width:50%;
	height:100%;
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content:left;
	align-items:center;
	padding-left:4em;
	color:#000;
}
span{
	color:rgb(252, 151, 0);
}
.menu ul{
	width:100%;
	height:100%;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	color:#fff;
	position:relative;
}
.menu a{
	color:#000;
	text-decoration:none;
	display:inline-block;
	position:relative;
}
li{
	width:100%;
	height:100%;
	position:relative;
	display:flex;
	font-size:1rem;
	justify-content: center;
	align-items: center;
	list-style: none;
	cursor:pointer;
	transition: font-size 250ms ease-in;
	z-index:1;
}
li:hover{
	font-size: 1.2rem;
}
li::after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	transform:scaleX(0.4);
	border-bottom:2px solid rgb(252, 151, 0);
	transition:transform 250ms ease-in;
	transform-origin: center;
	z-index:-1;
}
li:hover::after{
	transform:scaleX(0.6);
	transform-origin: center;
}
nav img{
	width:auto;
	height:80%;
}

.content{
	display:flex;
	flex-direction: row;
	position:relative;
	top:0;
	left:12.5%;
	width:75%;
	min-height:calc(100vh - 12.5em);
	box-shadow: 5px 5px 10px 2px #000;
	background-image:linear-gradient(to bottom, #ddd, #eee);
	margin-top:5em;
}

.latest{
	position:relative;
	width:100%;
	height:35vh;
	left:-2em;
	margin-top:5em;
	z-index:1;
}
#tag{
	position:relative;
	z-index:1;
	top:1.5em;
	left:-1.5em;
	padding:5px;
	font-size:1.2rem;
	color:#000;
	display:inline-block;
}
#tag::before{
	content:'';
	position:absolute;
	width:calc(100% + 3em);
	height:100%;
	top:-0.125em;
	left:-1.5em;
	box-shadow: 5px 5px 10px 2px #000;
	border-bottom:2px solid rgb(252, 151, 0);
	transform: scale(1);
	background:#fff;
	z-index:-1;
}
.ctn{
	position:absolute;
	left:-2em;
	top:0;
	width:50%;
	height:125%;
	overflow:hidden;
	box-shadow: 5px 5px 10px 2px #000;
}
.latest figure{
	position:absolute;
	display:flex;
	left:0;
	top:0;
	width:600%;
	height:100%;
	animation:30s slider infinite;
	z-index:-1;
}

figure img{
	width: 16.6667%;
	float:left;
}
@keyframes slider{
	0%{
		left:0%;
	}
	16.666%{
		left:0%;
	}
	21.666%{
		left:-100%;
	}
	33.336%{
		left:-100%;
	}
	38.336%{
		left:-200%;
	}
	50.002%{
		left:-200%;
	}
	55.002%{
		left:-300%;
	}
	66.668%{
		left:-300%;
	}
	71.668%{
		left:-400%;
	}
	83.334%{
		left:-400%;
	}
	88.334%{
		left:-500%;
	}
	100%{
		left:-500%;
	}
}

.latestInfo{
	width:calc(50% + 2em);
	height:100%;
	top:-1.5em;
	left:50%;
	position:absolute;
	display:inline-block;
	text-align: center;
}
.latestInfo h1{
	display:inline-block;
}
#extra{
	position:relative;
	z-index:1;
}
#extra[data-tool-tip]::after{
	content:attr(data-tool-tip);
	position:absolute;
	left:70%;
	bottom:calc(100% + 0.5rem);
	min-width:50%;
	padding:0.5em 1em;
	font-size:0.75rem;
	border-radius: 5px;
	color:white;
	display:block;
	background-color: #222;
	transform:scale(0);
	box-shadow: 5px 5px 10px 0px #000;;
	transition:transform 250ms ease-in;
	transform-origin: bottom left;
	z-index:-1;
}

#extra[data-tool-tip]:hover::after{
	transform:scale(1);
	transform-origin: bottom left;
}
.latestInfo > p {
	padding-top:4em;
	position:relative;
	line-height: 2em;
	left:12.5%;
	width:75%;
	font-size: 0.75rem;
}
footer{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:2em;
	text-align:center;
	font-size:0.75em;
}
